<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if sub_title != 0 %}
            <title>{{title}} {{sub_title}} - {{wiki_name}}</title>
        {% else %}
            <title>{{title}} - {{wiki_name}}</title>
        {% endif %}
        {{main_head|safe}}
        <style>
            @media (max-width: 800px) { table { min-width: 100%; } }
            @media (min-width: 800px) { body { width: 80%; margin: auto; padding: 10px; border: 1px solid; } }
            @media (min-width: 1200px) { body { width: 60%; } }
            @media (min-width: 1900px) { body { width: 40%; } }
            body { font-size: 14px; }
            blockquote { background-image: none; }
        </style>
        <script src="/views/sl_open/js/skin_set.js?ver=3"></script>
        <script>window.addEventListener('DOMContentLoaded', skin_set);</script>
        {{global_head|safe}}
        {{user_head|safe}}
        {% if sub_title != 0 %}
            <meta name="title" content="{{title}}{{sub_title}} - {{wiki_name}}">
        {% else %}
            <meta name="title" content="{{title}} - {{wiki_name}}">
        {% endif %}
        <meta name="keywords" content="{{title}}">
        {% if (user_path == '/w' or user_path|slice:'0:3' == '/w/') %}
            <meta name="description" content="{{data|cut_100}}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="top_tool">
            <a href="/">{{wiki_logo|safe}}</a>
            ·
            <a href="/recent_changes">{{'recent_change'|load_lang}}</a>
            ·
            <a href="/recent_discuss">{{'recent_discussion'|load_lang}}</a>
            ·
            <a href="/random">{{'random'|load_lang}}</a>
            ·
            {% if user_login == 0 %}
                <a href="/user">{{'login'|load_lang}}</a>
            {% elif user_login == 1 %}
                {% if user_alarm_count != '0' %}
                    <a href="/user">{{user_name}} (A)</a>
                {% else %}
                    <a href="/user">{{user_name}}</a>
                {% endif %}
            {% endif %}
            ·
            <a href="/other">{{'other'|load_lang}}</a>
            ·
            <a href="/skin_set">{{'skin_set'|load_lang}}</a>
        </div>
        <hr>
         <form method="post" action="/search" id="searchform" role="search">
            <input name="search" placeholder="{{'search'|load_lang}}">
        </form>       
        <hr>
        <div id="tool">
            {% if menu != 0 %}
                {% for sub_d in menu %}
                    {% if sub_d|length > 2 and sub_d[2] == 1 %}
                        <a href="/{{sub_d[0]}}" id="topic_color">{{sub_d[1]}}</a>
                    {% else %}
                        <a href="/{{sub_d[0]}}">{{sub_d[1]}}</a>
                    {% endif %}
                    {% if menu[forloop.Counter] %}
                        ·
                    {% endif %}
                {% endfor %}
                <hr>
            {% endif %}
        </div>
        <div id="data">
            <h1 id="title">
                {{title}}
                {% if sub_title != 0 %}
                    <sub>{{sub_title}}</sub>
                {% endif %}
            </h1>
            <hr>
            {{data|safe}}
            <hr id="last">
            <p>{{license|safe}}</p>
            <div id="powered">
                <a href="https://github.com/2DU/openNAMU">openNAMU</a>
            </div>
    </body>
</html>